<h3>Graphic Design Portfolio</h3>



<div class="simple-article-header">
  <!-- Article Published Date & Reading Time -->
  <p class="article-date-read">Published on: 18 December, 2020 - 5 min read</p>
  
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
      The Best Active Football players
    </a>
  </h4>

  <!-- Article Author Name & Comment Hyperlink -->
  <p class="article-author-comments">
    <em>by <a href="#">Cristofer Chuc</a></em> -
    <a class="article-comments" href="#">3 Comments</a>
  </p>

  <!-- Article Social Links -->
  <div class="article-social">
    <a href="" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Article Video -->
  <div class="article-post-image">
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/uXVXFKQ0zZQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>    
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content">
    <h5>Below is a list of the current top 5 active footballers in my opinion.</h5> 

    <p>Lionel Messi (FC Barelona):  Anything and everything every other player does gets instantly compared to the Argentine. Why? He is the best. At everything. He runs with the ball like no other player, passes a ball better than everyone else, and, of course, he scores alot of goals — 717 in total to date. </p>

    <p>Cristiano Ronaldo (Juventus):  Ronaldo had either scored or assisted in every one of Juventus' Serie A matches in 2020 as they march almost unopposed towards another Scudetto. He currently has five UEFA Champions Leagues to his name, Europe's toughest competition to win. </p>

    <P>Robert Lewandowski (Bayern Munich):  In 2020: 21 goals, four assists. Won Bundesliga & DFB Pokal. The Poland international has been in blistering form in 2020, having fired Bayern to a domestic double while helping make them the favourites to win the Champions League.</P>

    <p>  Neymar (Paris Saint-Germain):  In 2020: Won the French Ligue 1 and led PSG to the Champions League final. Has 1 UEFA Champions League title to his name and 3 Ligue 1 titles.</p>

    <p>  Kylian Mbappe (Paris Saint-Germain):  If you were to look at Kylian Mbappe's trophy cabinet, you wouldn't believe he is still only 21 years old. A World Cup, three Ligue 1 titles, and the Coupe de France are just a few of his collective honours. Individually, he's won the Golden Boy award, the Ligue 1 Player of the Season trophy, and Ligue 1's top scorer prize. </p>

  </div>

</div>

  <app-portfolio-lightbox portfolioURL = '/assets/graphic.json'></app-portfolio-lightbox>

